<a href="https://colab.research.google.com/github/jonatasnepomuceno/data-science-house-rocket/blob/main/house_rocket.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##IMPORTS

import pandas as pd 
import numpy as np

In [ ]:
##CARREGANDO DADOS
data = pd.read_csv('kc_house_data.csv')
data.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

In [ ]:
## 1) Quantas casas estão disponíveis para compra?

### A coluna id é um identificador de cada casa. 
### Contar quantas linhas existem no id.

data['id'].unique() #retorna os valores unicos da coluna dentro de um array
houses = len( data['id'].unique() ) #len faz a contagem do array acima
print ('Número de casas disponíveis para compra é de: {}'.format(houses))

Número de casas disponíveis para compra é de: 21436

In [ ]:
## 2) Quantos atributos as casas possuem?

## Atributos são as colunas do arquivo, exceto id e date
## Contar quantas colunas possue, exceto id e date
data.columns #retorna as colunas da tabela
natributos = len(data.drop(['id', 'date'], axis=1).columns)
print ('Número de atributos das casas é de: {}'.format(natributos))

Número de atributos das casas é de: 19

In [ ]:
## 3) Quais são os atributos das casas? 

## Listar os atributos das casas

data.drop(['id', 'date'], axis=1).columns.tolist()

['price',
 'bedrooms',
 'bathrooms',
 'sqft_living',
 'sqft_lot',
 'floors',
 'waterfront',
 'view',
 'condition',
 'grade',
 'sqft_above',
 'sqft_basement',
 'yr_built',
 'yr_renovated',
 'zipcode',
 'lat',
 'long',
 'sqft_living15',
 'sqft_lot15']

In [ ]:
## 4) Qual a casa mais cara (casa com maior valor de venda)?

#sort_values('referencia') coloca a lista em ordem crescente
#('referencia', ascending=False) ordena do maior para o menor
data[['id', 'price']].sort_values('price', ascending=False).head() #sort_values() coloca a lista em ordem
#dentro do data, peguei a coluna id e price, coloquei em ordem pela referencia do preço, do maior para o menor

##para pegar o id da casa mais cara, preciso resetar o index, pois o index 0 não corresponde a minha casa mais cara
id_casa_maior_valor = data[['id', 'price']].sort_values('price', ascending=False).reset_index(drop=True).loc[0, 'id']
#reset_index para resetar o index
#drop=True para remover coluna do index antigo
#loc[0, 'id'] = para pegar a linha 0 da coluna id 
print ('A casa mais cara é a: {}'.format(id_casa_maior_valor))

A casa mais cara é a: 6762700020

In [ ]:
## 5) Qual a casa com o maior número de quartos?

## Segue o mesmo princípio da questão anterior.

id_casa_mais_quartos = data[['id', 'bedrooms']].sort_values('bedrooms', ascending=False).reset_index(drop=True).loc[0, 'id']
print ('A casa com mais quartos é a: {}'.format(id_casa_mais_quartos))

A casa com mais quartos é a: 2402100895

In [ ]:
## 6) Qual a soma total de quartos do conjunto de dados?

soma_nquartos = data['bedrooms'].sum()
print ('O número total de quartos é de: {}'.format(soma_nquartos))

O número total de quartos é de: 72854

In [ ]:
## 7) Quantas casas possuem 2 banheiros? 

## Filtrar linhas com valor igual a 2 da coluna bathroom
## Selecionar as colunas id e bathroom
## Contar quantidade de linhas

casas_2banheiros = len(data.loc[data['bathrooms'] == 2, ['id','bathrooms']])
print ('O número de casas com 2 banheiros é de: {}'.format(casas_2banheiros))

O número de casas com 2 banheiros é de: 1930

In [ ]:
## 8) Qual o preço médio de todas as casas no conjunto de dados?

#mean() retorna a media
price_mean = np.round( data['price'].mean(), 2 )
print ('O preço médio de todas as casas é de: {}'.format(price_mean))

O preço médio de todas as casas é de: 540088.14

In [ ]:
## 9) Qual o prço médio de casas com 2 banheiros?
data.loc[data['bathrooms'] == 2, 'price'] ##peguei os banheiros = 2, loc da coluna price, agora é só fazer a média
price_mean_2bath = np.round( data.loc[data['bathrooms'] == 2, 'price'].mean(), 2)
print ('O preço médio das casas que possuem 2 banheiros é de: {}'.format(price_mean_2bath))

O preço médio das casas que possuem 2 banheiros é de: 457889.72

In [ ]:
## 10) Qual o preço mínimo entre as casas com 3 quartos? 

price_min_3bed = data.loc[data['bedrooms'] == 3, 'price'].min()
print ('O preço mínimo entre casas com 3 quartos é de: {}'.format(price_min_3bed))

O preço mínimo entre casas com 3 quartos é de: 82000.0

In [ ]:
## 11) Quantas casas possuem mais de 300 metros quadrados na sala de estar? 
data['m2'] = data['sqft_living'] * 0.093 #Conversão para metros quadradodos 
len( data.loc[data['m2']> 300, 'id'])

2258

In [ ]:
## 12) Quantas casas tem mais de 2 andares? 
        #data['floors'] > 2              #pego a minha condição, então andares maior que 2
data.loc[data['floors'] > 2, 'id']       #seleciono a coluna que eu quero
len(data.loc[data['floors'] > 2, 'id'])  #conto número de linhas

782

In [ ]:
## 13) Quantas casa tem vista para o mar? 

len(data.loc[data['waterfront'] == 1, 'id'])

163

In [ ]:
## 14) Das casa com vista para o mar, quantas tem 3 quartos? 
len(data.loc[(data['waterfront'] == 1) & (data['bedrooms'] == 3), 'id'])

64

In [ ]:
## 15) Das casa com mais de 300 metros quadrados de sala de estar, quantas tem mais de 2 banheiros?

len(data.loc[(data['m2'] > 300) & (data['bathrooms'] > 2), 'id'])

2201